/*.formulario {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
}*/
body {/*
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6fc;
    */
     margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('fondo2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: brightness(0.8);
}
/*registro*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.formulario {
    background: #071739;
    max-width: 400px;
    margin: 60px auto;
    padding: 2rem;
    border-radius: 12px;
}

.campo {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6a11cb;
    outline: none;
}

.error {
    color: #e63946;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.enlace {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.enlace:hover {
    color: #e3c39d;
    text-decoration: underline;
}

.boton {
    background-color: #4b6382;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #520dc2;
}
/*login*/
.mensaje-sesion {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    padding: 0.75rem;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.campo-checkbox {
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
    color: #333;
}

.campo-checkbox input {
    margin-right: 0.5rem;
}
.acciones.doble {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/*landing*/
.titulo {
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 20px;
}

.link{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 10px;
    transition: color 0.3s ease;
}

link:hover {
    color: #ffffff;
    text-decoration: underline;
}
/*dashboard*/
